.component-links {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.list li {
  width: 100%;
  height: 40px;
  list-style: none;
  text-decoration: none;
  gap: 2px;
}
.active-link {
  background-color: #9bb7d5;
  color: #fff;
}
